<div>
  <h1>{{ title }}</h1>

  <ul>
    <li *ngFor="let numero of numeros">
      item: {{ numero }} / {{ numeros.length }}

      <span [class.esPar]="numero % 2 == 0" [class.esImpar]="numero % 2 != 0">
        {{ numero % 2 == 0 ? "es par" : "es impar" }}
      </span>
    </li>
  </ul>
</div>

<!-- <div>
  <ul>
    <li *ngFor="let nombre of nombres">
      <span [class.mayor-a-5]="nombre.length > 5"> nombre: {{ nombre }} </span>
    </li>
  </ul>
</div> -->

<button (click)="sumarNumero()">
  Sumar +1
</button>

<div
  class="btn"
  [ngClass]="{ unaclase: isActive }"
  (mouseover)="toggle()"
  (mouseleave)="toggle()"
>
  {{ isActive ? "prendido" : "apagado" }}
</div>
<div *ngIf="isActive">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam nihil sequi
  ut. Nisi illo asperiores temporibus molestias cupiditate earum debitis?
</div>
